{erl_opts, [debug_info]}.
{deps, [
    {nksip, {git, "https://github.com/netcomposer/nksip", {tag, "v0.6.1"}}},
    {meck, {git, "https://github.com/eproxus/meck", {tag, "0.8.12"}}},
    {lager, {git, "https://github.com/erlang-lager/lager", {tag, "3.9.2"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.1.0"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [voip_server]}
]}.

{src_dirs, ["src"]}.
{test_dirs, ["test"]}.
