[
  {kernel, [
    {distributed, [
      {voip_server, 5000, ['server_node1@172.40.0.2', {'server_node2@172.40.0.3'}]}
    ]},
    {sync_nodes_mandatory, ['server_node1@172.40.0.2']},
    {sync_nodes_timeout, 5000}
  ]},
  {mnesia, [
    {auto_repair, true},
    {send_compressed, 6}, %% Сжатие при репликации больших таблиц во время takeover
    {dir, "/app/data"}
  ]}
].